# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.ConsoleApp1.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\vitek007718\RiderProjects\ConsoleApp1\.idea\.idea.ConsoleApp1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
